# Convex Configuration
# Copy this file to .env.local and replace with your actual values

# Your Convex deployment URL
# Get this by running: npx convex dev
NEXT_PUBLIC_CONVEX_URL=https://adorable-dogfish-822.eu-west-1.convex.site
CONVEX_DEPLOYMENT=dev:adorable-dogfish-822 # team: raheel-zubairi, project: ibuywisely

CONVEX_URL=adorable-dogfish-822.eu-west-1.convex.cloud

CONVEX_SITE_URL=https://adorable-dogfish-822.eu-west-1.convex.site

